:root{
    --primario:#37ce76;
    --secundario:#eb9696;
    --terciario:#f0efaa;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 99;
    box-shadow: 0px 1px 15px 0px ;
    height: 8vh;
    background-color: var(--primario);
}
#header-div{
    display: flex;
    align-items: center;

}
h1{
    font-size: 2rem !important;
}
#carrito{
    font-size: 2.5rem;
    color: white;
}
#imagen-header{
    object-fit: cover;
    height: 7vh;
}
#header-nav{
    display: flex;
    justify-content: space-around;  
    padding: 0.5rem;
    border-radius: 1rem;
    width: 40vw;
}
#header-nav>a{
    padding: 0.2rem 0.9rem;
    border-radius: 0.5rem ; 
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}
#contenedor-banner{
    margin-bottom: 2rem;
}
.imagen-banner{
    height: 80vh;
}

.imagenCarrousel{
    height: 45vh;
    object-fit: cover;
}
.carousel-caption{
   transform: translate(55vw, -50%) !important; 
   width: 25vw;
}
#carouselExampleCaptions{
    margin-bottom: 2rem;
}






/* footer */

#footer-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: rgb(100, 100, 100);
}
.footer-text{
    color: white;
    font-size: 0.9rem;
}


#contenedor-footer{
    height: 21rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(68, 67, 67);
    color: white;
}
#listas{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;
}
.div-ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.direccion{
    font-weight: bold
}
.mapa{
    width: 12vw;
    height: 17vh;
    border-radius: 1rem;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
dt{
    font-size: 1rem;
}
li{
    list-style: none;
    font-size: 0.8rem;
}
.contacto{
    font-size: 0.9rem;
    font-weight: bold;
}


/* medios de pagos y redes */
#mediosPagosyRedes{
    display: flex;
    flex-direction: column;
}
.footer-redes-icono{
    height: 4vh;
}
#redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mediosPagosText{
    font-size: 0.9rem;
}
h4{
    font-size: 1rem !important;
    font-weight: bold !important;
}
#mediosPagos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-pago-icono{
    height: 4vh;
}

/* Estilos Pagina Jugetes */
.seccion-checkBox {
    width: 30rem;
}