:root{
    --primario:#83bb04;
    --secundario:#ab1f3b;
    --terciario:#f0efaa;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("../images/patacursor.png"),auto;
    font-family: 'Montserrat', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 99;
    box-shadow: 0px 1px 15px 0px ;
    height: 12vh;
    background-color: var(--primario);
}
#header-div{
    display: flex;
    align-items: center;

}
h1{
    font-size: 2rem !important;
}
#carrito{
    font-size: 2.5rem;
    color: white;
    margin-left: 10vw;
}
#logo-header{
    position: absolute;
    object-fit: cover;
    height: 17rem;
    transform: translate(-3vw,-28%)rotate(0.03turn);;
    
}
#logo-footer{
    object-fit: cover;
    height: 7rem;
}
#header-nav{
    display: flex;
    justify-content: space-around;  
    padding: 0.5rem;
    border-radius: 1rem;
    width: 50vw;
    gap: 1rem;
    margin-left: 18vw;
    
    /* background-color: var(--secundario); */
}
#whatsapp-icon{
    position: absolute;
    height: 4rem;
    transform: translate(-5vw,950%);
}
#header-nav>a{
    padding: 0.2rem 0.9rem;
    border-radius: 0.5rem ; 
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}



/* home */
#contenedor-banner{
    margin-bottom: 2rem;
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    margin-top: 8vh;
    gap: 5vh;
}
.imagenHome{
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid black;
}
.primera{
    height: 20rem;
    width: 20rem;
    background-image: url(../images/gato-bienvenida.jpg);
    background-position: center;
}
.mjsBienvenida{
    font-size: 3rem;
    width: 35vw;
    font-weight: bold;
}
.segunda{
    background-image: url(../images/perro-bienvenida.jpg);
    height: 15rem;
    width: 15rem;
    background-position: center;
}
.segundoMensaje{
    font-size: 2rem;
    width: 40vw;
}
#letra{
    height: 1.5rem;
}
.imagenCarrousel{
    height: 45vh;   
    object-fit: cover;
    border-radius: 2rem;
}
.contenido-carrousel{
    justify-content: center;
    align-items: center;
}
.carousel-item{
    border-radius: 2rem;
} 
.carousel-control-next-icon {
    background-color: black;
    
}
.carousel-control-prev-icon{
    background-color: black;
}
.texto-carousel{
    background-color: var(--primario);
    border-radius: 2rem;
    padding: 1rem;
    border:1px solid black;
    width: 30vw;
}
#carouselExampleCaptions{
    margin-bottom: 2rem;
}

body::-webkit-scrollbar{
    width: 1vw;
background-color: #4d5066}


/*main*/
.form-control{
    min-width: 15rem
}
main{
    min-height: 48vh;
}
.checkbox{
    width: 10rem
}




/* footer */

#footer-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: rgb(100, 100, 100);
}
.footer-text{
    color: white;
    font-size: 0.9rem;
}
.span-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 2rem;
}

#contenedor-footer{
    min-height: 20vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(68, 67, 67);
    color: white;
}
#listas{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;
}
.div-ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.direccion{
    font-weight: bold
}
.mapa{
    width: 12vw;
    height: 17vh;
    border-radius: 1rem;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
dt{
    font-size: 1rem;
}
li{
    list-style: none;
    font-size: 0.8rem;
}
.contacto{
    font-size: 0.9rem;
    font-weight: bold;
}


/* medios de pagos y redes */
#mediosPagosyRedes{
    display: flex;
    flex-direction: column;
}
.footer-redes-icono{
    height: 4vh;
}
#redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mediosPagosText{
    font-size: 0.9rem;
}
h4{
    font-size: 1rem !important;
    font-weight: bold !important;
}
#mediosPagos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-pago-icono{
    height: 4vh;
}

/* Estilos Pagina Juguetes */
.card-img {
    height: 18rem;
    object-fit: contain;
}
 


@media only screen and (max-width: 767px) {

/* footer */
#footer-div{
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    text-align: center
}

.hidden{
    display: none;
}
.span-footer{
    flex-direction: column;
    align-items: center;
}

#listas{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  
}
.div-ubicacion{
    justify-content: center;
}
.mapa{
    width: 50vw;
    height: 15vh;
    border-radius: 1rem;
}


/*
.direccion{
    font-weight: bold
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
dt{
    font-size: 1rem;
}
li{
    list-style: none;
    font-size: 0.8rem;
}
.contacto{
    font-size: 0.9rem;
    font-weight: bold;
} */


/* medios de pagos y redes */
/* #mediosPagosyRedes{
    display: flex;
    flex-direction: column;
}
.footer-redes-icono{
    height: 4vh;
}
#redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mediosPagosText{
    font-size: 0.9rem;
}
h4{
    font-size: 1rem !important;
    font-weight: bold !important;
}
#mediosPagos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-pago-icono{
    height: 4vh;
} */
}